@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(245, 245, 245);
}

.container {
  max-width: 1024px;
  /* max-width: 450px; */
  margin: auto;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  right: 0;
  width: 0;
  transition: all 300ms ease;
}
.link__hover-effect--black:after {
  background-color: #242424;
}

.nav__link--anchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

.click {
  @apply hover:scale-110 active:scale-75  duration-500 hover:duration-500 ease-in-out;
}

.nav__side-bar--links {
  @apply duration-500 hover:duration-500 ease-in-out hover:bg-gray-200 rounded-md;
}

.disable-scroll {
  overflow: hidden;
}

.animate__Right--Bar {
  animation: navBarAnimate 0.5s ease-in-out;
}
.animate__Right--Bar-close {
  animation: navBarAnimateClose 0.5s ease-in-out;
}

@keyframes navBarAnimate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes navBarAnimateClose {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.scroll-up {
  animation: scrollUp alternate-reverse 1s infinite;
}

@keyframes scrollUp {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.animate__nav {
  animation: navFadeIn 0.5s ease-in-out;
}

@keyframes navFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.animate__header {
  animation: fadeIn 0.9s ease-in-out;
}
.animate__title {
  animation: fadeIn2 1.1s ease-in-out;
}

.animate__about {
  animation: fadeIn3 1.3s ease-in-out;
}

.animate__links {
  animation: fadeIn4 1.5s ease-in-out;
}

.animate__links1 {
  animation: fadeIn7 1.7s ease-in-out;
}
.animate__mouse {
  animation: fadeIn8 1.9s ease-in-out;
}

@keyframes fadeIn8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn7 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeIn5 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeIn3 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeIn4 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.animate__about--me {
  animation: slideRightToLeft 0.7s ease-in-out;
  opacity: 1;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(40%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate__project1 {
  animation: project1 0.5s ease-in-out;
}

@keyframes project1 {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;

    transform: translateY(0);
  }
}
.animate__project {
  animation: project 1s ease-in-out;
}

@keyframes project {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate__project2 {
  animation: project2 0.5s ease-in-out;
}

@keyframes project2 {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;

    transform: translateY(0);
  }
}
.animate__project3 {
  animation: project3 0.5s ease-in-out;
}

@keyframes project3 {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

.animate__project4 {
  animation: project4 0.5s ease-in-out;
}

@keyframes project4 {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

.animate__project5 {
  animation: project5 1s ease-in-out;
}

@keyframes project5 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.class1:hover {
  animation: test 10s ease-in-out;
}

@keyframes test {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-69%);
  }
}

@media (max-width: 768px) {
  .class1:hover {
    animation: smallerTest 10s ease-in-out;
  }

  @keyframes smallerTest {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-60%);
    }
  }
}

@media (max-width: 1024px) {
  .class1:hover {
    animation: mediumTest 10s ease-in-out;
  }
  @keyframes mediumTest {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-63%);
    }
  }
}

.class2:hover {
  animation: test2 10s ease-in-out;
}

@keyframes test2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-73%);
  }
}

@media (max-width: 768px) {
  .class2:hover {
    animation: smallerTest2 4s ease-in-out;
  }

  @keyframes smallerTest2 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-60%);
    }
  }
}

@media (max-width: 1024px) {
  .class2:hover {
    animation: mediumTest2 10s ease-in-out;
  }
  @keyframes mediumTest2 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-63%);
    }
  }
}

.class3:hover {
  animation: test3 10s ease-in-out;
}

@keyframes test3 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-86%);
  }
}

/* @media (max-width: 768px) {
  .class3:hover {
    animation: smallerTest3 2s ease-in-out;
  }

  @keyframes smallerTest3 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%); 
    }
  }
} */

@media (max-width: 1024px) {
  .class3:hover {
    animation: mediumTest3 10s ease-in-out;
  }
  @keyframes mediumTest3 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-84%);
    }
  }
}

.class4:hover {
  animation: test4 10s ease-in-out;
}

@keyframes test4 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-74%);
  }
}

@media (max-width: 1024px) {
  .class4:hover {
    animation: mediumTest4 4s ease-in-out;
  }
  @keyframes mediumTest4 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-65%);
    }
  }
}

.animate__header1 {
  animation: fade 0.5s ease-in-out;
}
.animate__title1 {
  animation: fade1 0.8s ease-in-out;
}

.animate__about1 {
  animation: fade2 1.1s ease-in-out;
}

.animate__links2 {
  animation: fade3 1.4s ease-in-out;
}

.animate__links12 {
  animation: fade4 1.7s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade1 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fade4 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

.animate__mail {
  animation: mail 2s ease-in-out;
}

@keyframes mail {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #6BAF8D;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
  }